/*===============================
#.testimonial-area
 ==============================*/
 .testimonial-area {
    .single-testimonial {
        padding: 1.5rem;
        box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.05) ;
        border-radius: 8px;
        background-color: var(--white);
        .clint-info {
            .clint-title {
                font-size: 1.8rem;
                font-weight: 700;
                color: #040404;
            }
            p {
                margin-bottom: 0;
                font-weight: 1.6rem;
                color: var(--bColor);
            }
        }
        .content {
            p {
                margin: 0;
                font-size: 1.6rem;
                font-weight: 400;
                color: var(--bColor);
                a {
                    color: var(--primary-color);
                }
            }
        }
    }
 }